html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

body {
  position: relative;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

figure:first-child {
  position: absolute;
  top: 6.25em;
  left: 20%;
  transform: translateX(-20%);
  transform: rotate(-12deg);
  z-index: 1;
}

figure:nth-child(2) {
  position: absolute;
  top: 9em;
  left: 30%;
  transform: translateX(-30%);
  transform: rotate(3deg);
  z-index: 3;
}

figure:nth-child(3) {
  position: absolute;
  top: 6em;
  left: 40%;
  transform: translateX(-40%);
  transform: rotate(29deg);
  z-index: 2;
}
