html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transition: all 500ms linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

figure:first-child {
  top: 6.25em;
  left: 20%;
  transform: rotate(-12deg);
  z-index: 1;
}

figure:nth-child(2) {
  top: 9em;
  left: 30%;
  transform: rotate(3deg);
  z-index: 2344;
}

figure:nth-child(3) {
  top: 6em;
  left: 40%;
  transform: rotate(29deg);
  z-index: 2;
}

figcaption {
  position: absolute;
  bottom: 1em;
  left: 5.5em;
  text-align: center;
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 5435;
  box-shadow: 2px 5px 10px #000;
}
